.footer
  .col-md-9
    © 2014 Studios, Inc. - All rights reserved.
    &nbsp;&nbsp;
    = link_to('Privacy Policy', '/') 
    &nbsp;&nbsp;
    = link_to('Terms and Conditions', '/') 
  .col-md-3
    = link_to('FAQ', '/') 
    &nbsp;&nbsp;
    = link_to('Contact', '/') 
    &nbsp;&nbsp;
    = link_to('About', '/') 
